<!DOCTYPE html>
<html lang="en">

<style type="text/css">
    .topcorner{
        position:absolute;
        top:1%;
        right:1%;
    }
    .textbox {
        height:200px;
        width:400px;
        font-size: 10px;
    }

</style>
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="813941670344-9el2iuapfhtvv2gd1marealcu1on6u1e.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <title>Agger Path</title>
</head>


<body id="body">
<div class="topcorner">
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
</div>
<div>
    <button name="checkToken" onclick="checkToken()">Check Token</button>
</div>
<div>
    <div>Name: <input type="text" id="artName"></div>
    <div>Content: <textarea class=textbox  id="article"></textarea></div>
    <div>Category: <input type="text" id="category"></div>
    <button onclick="submitArticle()">submit</button>
    <button onclick="changeArticleCat()">set category</button>
    <button onclick="deleteArticle()">delete article</button>
    <button onclick="testArticle()">test article</button>
    <h1>Special key words for categories</h1>
    <article>
        <h2>home</h2>
        <p>"home" is a category for articles that will only populate the home page</p>
    </article>
    <article>
        <h2>stock</h2>
        <p>"stock" is a category exclusively for the stock page. We use the format here from <a href="https://www.tradingview.com/widget/symbol-overview/">tradingview.com</a>
            to submit stocks as the body. This is a simple and easy way to change the stocks we like section.
            Be sure to remove the previous stock before adding a new one. There is a bug where if you have more than one it only shows one of them.
        </p>
    </article>
    <article>
        <h2>product</h2>
        <p>"product" is a category exclusively for the product page</p>
    </article>
    <div id="testDiv"></div>
</div>
<script>


    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        //console.log('Full Name: ' + profile.getName());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        //console.log("ID Token: " + id_token);
        var xhr = new XMLHttpRequest();
        xhr.open('POST', 'http://localhost:3000/login');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            console.log('Signed in: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
    }
    function checkToken() {
        var xhrn = new XMLHttpRequest();
        xhrn.open('GET', 'http://localhost:3000/checkToken');
        xhrn.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhrn.onload = function() {
            alert(xhrn.responseText);
        };
        xhrn.send();
    }
    function submitArticle() {
        var xhrn = new XMLHttpRequest();
        xhrn.open('POST', 'http://localhost:3000/submitArticle');
        xhrn.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhrn.onload = function() {
            alert(xhrn.responseText);
        };
        xhrn.send(
            "name="+document.getElementById('artName').value
            + "&article="+document.getElementById('article').value
            + "&category="+document.getElementById('category').value
        )
    }
    function changeArticleCat() {
        var xhrn = new XMLHttpRequest();
        xhrn.open('POST', 'http://localhost:3000/changeArticleCategory');
        xhrn.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhrn.onload = function() {
            alert(xhrn.responseText);
        };
        xhrn.send(
            "name="+document.getElementById('artName').value
            + "&category="+document.getElementById('category').value
        )
    }
    function deleteArticle() {
        var xhrn = new XMLHttpRequest();
        xhrn.open('POST', 'http://localhost:3000/deleteArticle');
        xhrn.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhrn.onload = function() {
            alert(xhrn.responseText);
        };
        xhrn.send(
            "name="+document.getElementById('artName').value
        )
    }
    function testArticle() {
        document.getElementById("testDiv").innerHTML += document.getElementById("article").value;
    }

</script>
</body>
</html>