<!DOCTYPE html>
<html lang="en">
<div id="footer">
    <h1>Contact Us</h1>
    <p>You can contact us at example@aggerpath.com</p>
    <h2>Follow us on Social media</h2>
    <p>Facebook</p> <p>Twitter</p>
</div>
</html>