<!DOCTYPE html>
<html lang="en">
<div id="navbar">
    <a href="http://localhost:3000">Home</a>
    <a href="http://localhost:3000/blog">Articles</a>
    <a href="http://localhost:3000/products">Products</a>
    <a href="http://localhost:3000/stocks">Stocks</a>
    <a href="http://localhost:3000/profile">Profile</a>
</div>

</html>