<!DOCTYPE html>
<html lang="en">

<div class="js-widget-demo-example" data-demo_widget_example="indices" style="width: 100%; height: 660px; overflow: hidden;"><div class="tradingview-widget-container" style="width: 100%; height: 660px;">
        <iframe scrolling="no" allowtransparency="true" frameborder="0" src="https://s.tradingview.com/marketoverviewwidgetembed/?locale=en#%7B%22gridLineColor%22%3A%22rgba(233%2C%20233%2C%20234%2C%201)%22%2C%22scaleFontColor%22%3A%22rgba(218%2C%20221%2C%20224%2C%201)%22%2C%22tabs%22%3A%5B%7B%22title_raw%22%3A%22US%20%26%20Canada%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22INDEX%3ASPX%22%2C%22d%22%3A%22S%26P%20500%22%7D%2C%7B%22s%22%3A%22CME_MINI%3AES1!%22%2C%22d%22%3A%22E-Mini%20S%26P%22%7D%2C%7B%22s%22%3A%22INDEX%3AIUXX%22%2C%22d%22%3A%22Nasdaq%20100%22%7D%2C%7B%22s%22%3A%22INDEX%3ADOWI%22%2C%22d%22%3A%22Dow%2030%22%7D%2C%7B%22s%22%3A%22INDEX%3AVIX%22%2C%22d%22%3A%22Volatility%20S%26P%20500%22%7D%5D%2C%22title%22%3A%22US%20%26%20Canada%22%7D%2C%7B%22title_raw%22%3A%22Europe%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22INDEX%3AMOY0%22%2C%22d%22%3A%22Euro%20Stoxx%2050%22%7D%2C%7B%22s%22%3A%22FOREXCOM%3AUKXGBP%22%2C%22d%22%3A%22FTSE%20100%22%7D%2C%7B%22s%22%3A%22INDEX%3ADAX%22%2C%22d%22%3A%22DAX%20Index%22%7D%2C%7B%22s%22%3A%22INDEX%3ACAC%22%2C%22d%22%3A%22CAC%2040%20Index%22%7D%2C%7B%22s%22%3A%22MIL%3AFTSEMIB%22%2C%22d%22%3A%22FTSE%20MIB%22%7D%5D%2C%22title%22%3A%22Europe%22%7D%2C%7B%22title_raw%22%3A%22Asia%2FPacific%22%2C%22symbols%22%3A%5B%7B%22s%22%3A%22INDEX%3ANKY%22%2C%22d%22%3A%22Nikkei%20225%22%7D%2C%7B%22s%22%3A%22INDEX%3AHSI%22%2C%22d%22%3A%22Hang%20Seng%22%7D%2C%7B%22s%22%3A%22NSE%3ANIFTY%22%2C%22d%22%3A%22Nifty%22%7D%2C%7B%22s%22%3A%22INDEX%3ASSIX%22%2C%22d%22%3A%22S%26P%20Topix%20USD%22%7D%2C%7B%22s%22%3A%22INDEX%3AKQY0%22%2C%22d%22%3A%22Kospi%20Composite%22%7D%5D%2C%22title%22%3A%22Asia%2FPacific%22%7D%5D%2C%22plotLineColorFalling%22%3A%22rgba(255%2C%2074%2C%20104%2C%201)%22%2C%22plotLineColorGrowing%22%3A%22rgba(60%2C%20188%2C%20152%2C%201)%22%2C%22showChart%22%3Atrue%2C%22height%22%3A660%2C%22symbolActiveColor%22%3A%22rgba(242%2C%20250%2C%20254%2C%201)%22%2C%22belowLineFillColorFalling%22%3A%22rgba(255%2C%2074%2C%20104%2C%200.05)%22%2C%22belowLineFillColorGrowing%22%3A%22rgba(60%2C%20188%2C%20152%2C%200.05)%22%2C%22width%22%3A400%2C%22utm_source%22%3A%22www.tradingview.com%22%2C%22utm_medium%22%3A%22widget_new%22%2C%22utm_campaign%22%3A%22marketoverview%22%7D" style="box-sizing: border-box; height: calc(628px); width: 100%;"></iframe>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/indices/" rel="noopener" target="_blank"><span class="blue-text">Index Quotes</span></a> by TradingView</div>

        <style>
            .tradingview-widget-copyright {
                font-size: 13px !important;
                line-height: 32px !important;
                text-align: center !important;
                vertical-align: middle !important;
                font-family: 'Trebuchet MS', Tahoma, Arial, sans-serif !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright .blue-text {
                color: #3bb3e4 !important;
            }

            .tradingview-widget-copyright a {
                text-decoration: none !important;
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:visited {
                color: #9db2bd !important;
            }

            .tradingview-widget-copyright a:hover .blue-text {
                color: #38acdb !important;
            }

            .tradingview-widget-copyright a:active .blue-text {
                color: #299dcd !important;
            }

            .tradingview-widget-copyright a:visited .blue-text {
                color: #3bb3e4 !important;
            }
        </style></div></div>


</html>